.login {
  width: 271px;
  min-width: 271px;
  margin: 100px auto;
  font-size: 2rem;
}

.login a {
  color: rgb(0, 110, 255);
}

.login form p {
  margin: 0;
  margin-top: 2rem;
}

.login-button {
  max-width: 271px;
  color: black;
  padding: 15px 109px;
  font-size: 2rem;
  margin: 2rem 0;
  background-color: rgb(255, 208, 0);
  border: 2px solid rgb(255, 208, 0);
}

.login-button:hover {
  cursor: pointer;
  animation: submitButtonHover 0.4s ease-in both;
}

@keyframes submitButtonHover {
  0% {
    background-color: rgb(255, 208, 0);
  }
  100% {
    background-color: rgb(255, 255, 255);
  }
}
