/* Variables */
/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
@import url(https://fonts.googleapis.com/css?family=Abril+Fatface|Lato|Markazi+Text);
/* Mixins */
/* Base Styles */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

html,
body {
  font-family: "Lato", Arial, sans-serif;
  font-size: 10px;
  font-weight: 100;
  margin: 0;
  padding: 0;
}
#root {
  overflow: hidden;
}
.container {
  margin: 0 auto;
  width: 80%;
  padding: 0 24px;
}
/* background image */
header {
  animation: bgFadeIn 1s ease-in both;
  position: relative;
  padding: 28px;
  text-align: center;
  min-height: 100%;
}
header:before {
  background: linear-gradient(rgba(24, 0, 163, 0), rgba(196, 0, 235, 0)),
    url("./images/Huge-Library-Wallpaper.jpg");
  background-color: #cccccc;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  bottom: 0;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
@keyframes bgFadeIn {
  0% {
    background-color: white;
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}
header .container {
  /* never has to be greater than 100vh needs fix */
  margin: 50% auto;
}

.header-content {
  position: absolute;
  top: 40%;
  left: 35%;
}

header h1 {
  border-bottom: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  color: #ffffff;
  font-family: "Amatic SC", cursive;
  font-size: 8.75rem;
  margin: 0;
}
header h3 {
  color: #fff0a5;
  font-family: "Abril Fatface", cursive;
  font-size: 3.75rem;
  font-style: italic;
  font-weight: 100;
  margin: 0;
}

/* footer */
.footer {
  width: 100%;
  margin: 0;
  position: relative;
  bottom: 0;
  background-color: #212529;
  color: white;
  display: grid;
  height: 50px;
  grid-template-columns: 50% 50%;
  font-size: 1.5rem;
  margin-top: 100px;
}
.footer .icon {
  margin: auto 10px;
}
.footer a {
  color: white;
}
.footer .links {
  text-align: right;
  position: absolute;
  right: 10px;
  bottom: -5px;
  display: grid;
  grid-template-rows: 1.5rem;
}
.footer a:hover {
  color: rgb(255, 244, 89);
}
